includes:
    - ./vendor/nunomaduro/larastan/extension.neon
parameters:
    paths:
        - ./app
        - ./tests
    excludes_analyse:
        - /*/Definitions/*
    level: max
    ignoreErrors:
        - '#Laravel\\Passport\\ClientRepository::createPasswordGrantClient()#'
        - '#Illuminate\\Database\\Query\\Builder::dynamicWhere()#'
