includes:
    - ./vendor/nunomaduro/larastan/extension.neon
    - ./vendor/phpstan/phpstan-deprecation-rules/rules.neon
parameters:
    excludes_analyse:
        - /*/Definitions/*
    level: max
    ignoreErrors:
        - '#Laravel\\Passport\\ClientRepository::createPasswordGrantClient()#'
        - '#Illuminate\\Database\\Query\\Builder::dynamicWhere()#'
        - "#Offset 'host' does not exist on array()#"
        - "#Offset 'scheme' does not exist on array()#"
        - "#Builder::findOrFail#"
        - '#array<Illuminate\Http\UploadedFile>|Illuminate\Http\UploadedFile|null given#'
        - '#Illuminate\\Support\\Facades\\Event::assertDispatched#'
        - '#Illuminate\\Support\\Facades\\Notification::assertTimesSent#'
        - '#Illuminate\\Support\\Facades\\Notification::assertSentTo#'
        - '#Illuminate\\Support\\Facades\\Notification::assertNotSentTo#'
        - '#undefined method App\\Providers\\AppServiceProvider::forPage#'
        - '#undefined method App\\Providers\\AppServiceProvider::count#'
        - '#Call to an undefined method Illuminate\\Database\\Eloquent\\Model|ScoutElastic\\Searchable#'
        - '#parameters()#'
        - '#::getLocation()#'
        - '#::checkpoints()#'
        - '#of parent class App\\Models\\Abstracts\\UuidModel#'
    paths:
        - %rootDir%/../../../app
        - %rootDir%/../../../routes
        - %rootDir%/../../../tests
